.c-local-nav {
  width: 100%;
  max-width: 200px;
  &__accordion {
    width: 100%;
    summary {
      display: flex;
      align-items: center;
      gap: 4px;
      font-weight: bold;
      cursor: pointer;
      padding: 4px 0;
      list-style: none;
      &::-webkit-details-marker {
        display: none;
      }
    }
    .accordion-icon-svg { transition: all 0.6s ease; }
    &[open] .accordion-icon-svg { transform: translateY(-1px) rotateX(180deg); }
  }
  &__anchor-field {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: flex-start;
    padding-left: 24px;
    margin-top: 8px;
    row-gap: 4px;
    a {
      color: #333;
      padding: 2px 0;
      font-size: 0.95rem;
      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }
  }
}