@use "../1-abstracts/mixins" as m;

.c-thanks-card {
  display: none;
  padding-block: 80px;
  text-align: center;
  animation: c-thanks-fade-in 0.8s ease forwards;

  &__content {
    &--recruit {
      width: 50svw;
    }
  }

  &__title {
    font-size: 2rem;
    color: orange;
    margin-bottom: 20px;
    &--contact {
      color: darkorange;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 40px;
  }

  &__action-btn {
    margin-inline: auto;
    &--contact {
      @include m.active-state (
        $color: #444444,
        $background: #dddddd
      );
    }
  }
}

@keyframes c-thanks-fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}