@use "../1-abstracts/mixins" as m;

@keyframes fadeInContactThanks {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.p-contact {
  &__title-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__form-field {
    margin-inline: auto;
    width: 80svw;
    .form-card {
      box-shadow: 0 12px 20px rgba(41, 40, 38, 0.15);
    }
  }
}