@use "../1-abstracts/mixins" as m;

.p-news {
  margin-block-end: 80px;
  &__title-field {
    margin-inline: 2svw;
    border-left: 4px solid orange;
    padding-left: 16px;
    @include m.mq(md) {
      margin-inline: 0;
      border-left: none;
      padding-left: 0;
      text-align: center;
    }
  }
  &__section {
    margin-block: 20px;
    border-top: 2px solid #ccc;
    padding-inline: 20px;
    padding-bottom: 40px;
    @include m.mq(sm) {
      padding-inline: 12px;
    }
  }
  // ----------------------------------------------------
  // ニュースリスト構造
  // ----------------------------------------------------
  &__list {
    list-style: none;
    margin-block: 40px;
    margin-inline: auto;
    max-width: 800px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 8px 16px;
    @include m.mq(md) { margin-top: 20px; }
    @include m.mq(sm) { padding-inline: 4px; }
    &--no-data {
      text-align: center;
      margin-block: 10svh;
      margin-inline: auto;
      font-size: 2rem;
      font-weight: bold;
      max-width: 800px;
    }
  }
  &__item {
    border-top: 2px solid #ccc;
    &:first-of-type { border-top: 3px solid #ccc; }
    &:last-of-type { border-bottom: 3px solid #ccc; }
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background 0.2s ease;
    @include m.mq(md) {
      flex-direction: column;
      gap:20px;
      text-align: center;
    }
    &:hover {
      background: #f9f9f9;
      .p-news__item-title {
        text-decoration: underline;
      }
    }
  }
  &__meta {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 120px;
    time {
      color: #555;
      font-size: 0.9rem;
      font-weight: bold;
      @include m.mq(md) { font-size: 0.8rem; }
    }
  }
  &__label {
    color: #fff;
    font-size: 0.9rem;
    padding: 2px 8px;
    border-radius: 4px;
    @include m.mq(md) { font-size: 0.8rem; }
    &--info    { background: #3498db; }
    &--recruit { background: #e67e22; }
    &--press   { background: #95a5a6; }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__item-title {
    text-wrap: wrap;
    font-weight: bold;
    @include m.mq(md) { font-size: 1.1rem; }
    @include m.mq(sm) { font-size: 1.0rem; }
  }
  &__item-detail {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    color: #333;
    @include m.mq(md) {
      font-size: 0.9rem;
    }
    @include m.mq(sm) {
      line-clamp: 3;
      -webkit-line-clamp: 3;
      font-size: 0.8rem;
    }
  }
}