.p-other-reference {
  &__title-field {
    text-align: center;
  }
  &__section-wrapper {
    margin: 40px 20px;
  }
  &__section-title {
    font-size: 1.125rem;
    text-align: center;
    margin: 8px;
  }
  &__test-card {
    border: 1px solid #000;
    max-width: 80%;
    border-radius: 0.25em;
    margin-inline: auto;
    padding: 8px;
    h3 {
      font-size: 1rem;
      text-align: center;
      margin-bottom: 2svh;
    }
  }
  &__grid-field {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 2svw;
    margin-bottom: 2svh;
  }
  &__media-preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}