@use "../1-abstracts/mixins" as m;

@keyframes fadeInEntryForm {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeInThanksMessage {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.p-recruit {
  margin-block-end: 80px;
  @include m.mq(sm) { margin-block-end: 60px; }
  // ----------------------------------------------------
  // ページトップのアンカーナビゲーション
  // ----------------------------------------------------
  &__nav-field {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    margin-inline: calc(2svw + 20px);
    @include m.mq(md) {
      justify-content: center;
      margin-inline: 0;
    }
    .title-field {
      border-left: 4px solid orange;
      padding-left: 16px;
      @include m.mq(md) {
        border-left: none;
        padding-left: 0;
      }
    }
    .anchor-list {
      display: flex;
      gap: max(16px, 1.5svw);
      list-style: none;
      @include m.mq(md) { display: none; }
    }
  }
  // ----------------------------------------------------
  // 共通セクションのガワ
  // ----------------------------------------------------
  // TODO
  &__section {
    margin-block: 40px;
    background: #fff;
    @include m.mq(sm) { margin-block: 20px; }
    > h3 {
      font-size: 2rem;
      padding-block: 12px;
      padding-left: 80px;
      background: #eee;
      background-image: linear-gradient(150deg, #eee 30%, #ccc 30%);
      @include m.mq(lg) {
        background-image: linear-gradient(150deg, #eee 70%, #ccc 70%);
      }
      @include m.mq(md) {
        text-align: center;
        padding-left: 0;
        background-image: none;
      }
    }
  }

  &__tab-field {
    display: flex;
    margin-left: 8px;
  }
  &__tab-btn {
    margin-inline: 1px;
    padding-inline: 8px;
    color: #fff;
    background: #ddd;
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    @include m.mq(sm) { font-size: 0.75rem; }
    &.is-active {
      color: #111;
      background: orange;
      font-weight: bold;
    }
  }

  // ----------------------------------------------------
  // MESSAGE セクション
  // ----------------------------------------------------
  &__message {
    padding-top: 24px;
    margin-top: 16px;
    .message-contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2svw;
      margin-inline: 10svw;
      padding-block: 40px;
      @include m.mq(lg) {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        padding-bottom: 60px;
      }
      @include m.mq(md) { margin-inline: 5svw; }
      @include m.mq(sm) {
        margin-inline: 20px;
        padding-top: 60px;
      }
    }
    .message-body {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @include m.mq(lg) {display: contents; }
    }
    .slogan {
      font-size: clamp(2.125rem, -1.184rem + 4.412vw, 2.5rem);
      letter-spacing: 0.02em;
      @include m.mq(lg) {
        order: 1;
        font-size: 2.5rem;
      }
      @include m.mq(md) { font-size: 1.5rem; }
@include m.mq(sm) { font-size: clamp(1.2rem, -0.06rem + 6.165vw, 1.5rem); }
    }
    .messages {
      font-size: 1.1rem;
      letter-spacing: 0.01em;
      line-height: 1.6;
      @include m.mq(lg) { order: 3; }
      @include m.mq(md) { font-size: 1.0rem; }
      .message { padding-bottom: 20px; }
    }
    .image-container {
      @include m.mq(lg) {
        order: 2;
        margin-inline: 40px;
      }
      @include m.mq(md) { margin-inline: 20px; }
      @include m.mq(sm) { margin-inline: 10px; }
      img {
        aspect-ratio: 15/10;
        min-height: 400px;
        object-fit: cover;
        @include m.mq(md) {
          height: 100%;
          min-height: auto;
        }
      }
    }
  }

  // ----------------------------------------------------
  // DETAILS セクション
  // ----------------------------------------------------
  &__details {
    margin-inline: 20px;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px;
    box-shadow: 0 12px 20px rgba(41, 40, 38, 0.15);
    @include m.mq(sm) { margin-inline: 10px; }
    .detail-contents {
      padding-block: 40px;
    }
  }
  &__detail-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    &.is-active {
      display: block;
      opacity: 1;
      @starting-style {
        opacity: 0;
      }
    }
    .detail-content-header {
      display: flex;
      align-items: baseline;
      margin-left: 40px;
      margin-bottom: 20px;
      @include m.mq(lg) {
        justify-content: center;
        margin-left: 0;
      }
      @include m.mq(md) {
        flex-direction: column;
        align-items: center;
      }
      h4 {
        font-size: 2rem;
        letter-spacing: 0.02em;
      }
      p {
        color: #333;
        padding-left: 8px;
        font-size: 1.25rem;
        font-style: italic;
        &::before, &::after { content: "〜"; }
      }
    }
    .detail-content-body {
      display: flex;
      justify-content: space-between;
      gap: 2svw;
      margin-inline: 10svw;
      @include m.mq(lg) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
      }
      @include m.mq(md) { margin-inline: 5svw; }
      @include m.mq(sm) { margin-inline: 2.5svw; }
    }
    .image-container img {
      aspect-ratio: 15/10;
      min-height: 400px;
      object-fit: cover;
      border-radius: 40px;
      @include m.mq(lg) { height: 100%; }
      @include m.mq(sm) { min-height: auto; }
    }
  }
  &__table {
    position: relative;
    border-collapse: collapse;
    width: 50svw;
    @include m.mq(lg) {
      width: auto;
      max-width: calc(800px - (28px * 2));
      margin-inline: 28px;
    }
    @include m.mq(sm) { margin-inline: 0; }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background: orange;
      border-radius: 4px;
      z-index: 1;
    }
    tbody tr {
      &:first-child th, &:first-child td { border-top: 2px solid #ccc; }
      &:last-child th, &:last-child td { border-bottom: 2px solid #ccc; }
      th, td { border-bottom: 1px solid #ccc; }
      th {
        background: #f9f9f9;
        padding: 16px 40px 16px 20px;
        text-align: left;
        white-space: nowrap;
        @include m.mq(sm) {
          font-size: 0.9rem;
          padding: 8px 12px 8px 12px;
        }
      }
      td {
        position: relative;
        padding: 16px 20px;
        border-right: 2px solid #ccc;
        @include m.mq(sm) {
          font-size: 0.8rem;
          padding: 8px 10px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 5%;
          left: 0;
          width: 2px;
          height: 90%;
          background: #ccc;
          border-radius: 4px;
          z-index: 1;
        }
        span {
          display: block;
          &:not(:last-child) { margin-bottom: 16px; }
        }
      }
    }
  }

  // ----------------------------------------------------
  // ENTRY セクション
  // ----------------------------------------------------
  &__entry {
    .entry-contents {
      display: flex;
      justify-content: space-between;
      gap: 2svw;
      margin-inline: 40px;
      padding-block: 40px;
      @include m.mq(lg) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
      @include m.mq(sm) { margin-inline: 10px; }
    }
    .image-container {
      margin-top: 80px;
      @include m.mq(lg) {
        order: 1;
        margin-top: 0;
        margin-inline: 40px;
      }
      @include m.mq(md) { margin-inline: 20px; }
      @include m.mq(sm) { margin-inline: 10px; }
      img {
        aspect-ratio: 15/10;
        min-height: 400px;
        object-fit: cover;
        border-radius: 8px;
        @include m.mq(lg) { height: 100%; }
        @include m.mq(sm) { min-height: auto; }
      }
    }
    #thanks-message {
      @include m.mq(lg) { order: 4; }
    }
    hr {
      display: none;
      order: 2;
      border: none;
      height: 1px;
      background: #aaaaaa;
      // margin-block: 20px;
      // margin-inline: auto;
      // width: 98%;
      @include m.mq(lg) { display: block; }
    }
  }

  &__form {
    @include m.mq(lg) { display: contents; }
    animation: fadeInEntryForm 0.8s ease forwards;
    .entry-form-lead {
      height: 60px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.01em;
      margin-bottom: 20px;
      @include m.mq(lg) {
        order: 3;
        margin-bottom: 0;
      }
    }
    .form-card {
      background: #eee;
      width: 50svw;
      margin: 0;
      @include m.mq(lg) {
        order: 4;
        width: 100%;
      }
      .form-button-field {
        padding-top: 40px;
        @include m.mq(lg) { padding-top: 0; }
        button {
          color: #222;
          background: orange;
          @include m.mq(sm) {
            font-size: 1.1rem;
            padding-inline: 8px;
          }
        }
      }
    }
  }
}